files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      */15 * * * * php /var/app/current/bin/console a:w:n --no-interaction --quiet &> /dev/null

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak"

container_commands:
  01_run_crontab:
      command: "sudo crontab /etc/cron.d/mycron"
