container_commands:
  01_install_supervisor:
      command: "sudo easy_install supervisor"
  02_fix_script_permissions:
      command: "chmod +x .ebextensions/supervisor/setup.sh"
  03_fix_newlines_a:
      command: "sed -i 's/^M$//' .ebextensions/supervisor/setup.sh"
  04_fix_newlines_b:
      command: "sed -i $'s/\r$//' .ebextensions/supervisor/setup.sh"
  05_install_supervisor:
      command: "sudo .ebextensions/supervisor/setup.sh"
