container_commands:
    01_pre_install:
        command: sudo yum -y install openssl build-essential xorg libssl-dev
    02_install_wkhtmltopdf:
        command: sudo yum -y install wkhtmltopdf
    03_add_script_for_xvfb:
        command: sudo echo "xvfb-run -a -s \"-screen 0 640x480x16\" wkhtmltopdf \"\$@\"" > /usr/local/bin/wkhtmltopdf.sh
    04_add_permissions:
        command: sudo chmod a+x /usr/local/bin/wkhtmltopdf.sh
